@font-face { font-family: Sanomat; src: url(/fonts/Sanomat-Regular.otf); }
@font-face { font-family: Sanomat-bold; src: url(fonts/Sanomat-Bold.otf); }
@font-face { font-family: Sanomat-boldItalic; src: url(fonts/Sanomat-BoldItalic.otf); }
@font-face { font-family: SanomatLight; src: url(fonts/Sanomat-Light.otf); }
@font-face { font-family: SanomatExtrabold; src: url(fonts/Sanomat-Extrabold.otf);}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700');

html, body {margin: 2em 0; padding: 0; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; background-color: #fff;}
a, a:link, a:visited {color: blue; font-size: 0.88em; text-decoration: none;}
section {width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.content {width: 100%; background: #fff; }
h1 { font-family: SanomatExtrabold; display: block; font-size: 4.5em; font-weight: bold;  color: rgba(0, 0, 0, 0.84);padding: 0 24px;}
h1 strong { font-family: SanomatExtrabold; display: block; font-size: 1.8em; font-weight: bold;  color: rgba(0, 0, 0, 0.84); }
h2 { font-family: "Source Sans Pro"; display: block; font-size: 1.2em; line-height: 1.3em; font-weight:400; color: rgba(0, 0, 0, 0.76); padding: 0 24px;}
h2 span { font-family: "Source Sans Pro"; display: block; font-size: 0.7em; line-height: 1.3em; font-weight:400; color: rgba(0, 0, 0, 0.46); padding-top: 1em;}
p  { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; line-height: 24px; font-weight:400; color: rgba(0, 0, 0, 0.76); padding: 0;}
strong { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; font-weight: 700;  color: rgba(0, 0, 0, 0.84)}
.blocks { margin: 24px; margin-bottom: 24px; border-radius: 5px;   border: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 20px; }
.eu { width: 30%; height: 30%; border-radius: 50%; display: block; vertical-align: middle; padding: 0 24px;}
.footer {color: rgba(0, 0, 0, 0.46); text-align: center;}
img.art {width: 100%;}

@media all and (min-width: 1001px) {
  .content { max-width: 628px;}
  h1 { font-family: SanomatExtrabold; display: block; font-size: 2.5em; font-weight: bold;  color: rgba(0, 0, 0, 0.84)}
  h1 strong { font-family: SanomatExtrabold; display: block; font-size: 1.8em; font-weight: bold;  color: rgba(0, 0, 0, 0.84)}
  h2 { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; line-height: 24px; font-weight:400; color: rgba(0, 0, 0, 0.76);}
  h2 span { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; line-height: 24px; font-weight:400; color: rgba(0, 0, 0, 0.46); padding: 0;}
  p  { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; line-height: 24px; font-weight:400; color: rgba(0, 0, 0, 0.76);}
  strong { font-family: "Source Sans Pro"; display: block; font-size: 0.9em; font-weight: 700;  color: rgba(0, 0, 0, 0.84)}
  .blocks {margin-bottom: 24px; border-radius: 5px;   border: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 20px;}
  .eu { width: 128px; height: 128px; border-radius: 50%; display: block; vertical-align: middle; }


}
